.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: rgba(126, 126, 126, 0.527);
}
  
  .login-right{
    background-image: url('https://cdn.zeptonow.com/web-static-assets-prod/artifacts/12.68.0/_next/static/media/bg-desktop.7efcec3a.png');
    background-color: white;
    background-repeat: no-repeat;
    border-radius: 0 12px 12px 0;
    width: 200px;
    height: 400px;
    padding: 30px ;
    background-size:cover;
  }
  
  .login-left{
    width: 400px;
    height: 400px;
    background-image: url('leftLogin.svg');
    border-radius: 12px 0 0 12px;
    padding: 30px ;
    background-size:cover;
  }
  
  .verify{
    font-size: 2.3rem;
    color: white;
    font-weight: bold;
    margin: 20px 40px 20px 0;
    letter-spacing: 1px;
  }
  
  .sended{
    font-size: 0.90rem;
    color: white;
    font-weight: bold;
    margin: 15px 40px 7px 3px;
    letter-spacing: 1px;
  }

  span{
    font-size: 2.3rem;
    color: white;
    font-weight: bold;
    margin: 0 40px 20px 0;
    letter-spacing: 1px;
  }
  
  .login-right img {
    width: 120px;
    margin: 10px 10px 10px 40px;
    
  }
  
  .app-links {
    display: flex;
    flex-direction: column;
    
  }
  
  .app-links img{
    margin: 5px 10px;
    width: 170px;
  }
  .upper{
    color: #7c0ab1;
   
    font-weight: 700;
    padding: 0 20px;
    text-align: center;
  }
  
  .lower{
    color: #6b7280;
    text-align: center;
    font-size: 0.90rem;
    font-weight: none;
  } 

 
   